*{
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  
}
.clear{
  clear: left;
}
.clear-right{
  clear: right;
}
.top-wrapper{
  width:100%;
  max-width: 1980px;
  margin: 0 auto;
  position: relative;
}
.top-wrapper h3{
  position: absolute;
  bottom:0px;
  right:0px;
}
.top-img{
  width:100%;
}
.top-img2{
  width:100%;
  display: none;
}
.top-logo{
  position:absolute;
  top:15%;
  left:1%;
  width: 40%;
}
.top-logo2{
  position:absolute;
  top:1%;
  left:1%;
  width: 40%;
  display: none;
}
.header{
  padding:30px 0px;
  width: 100%;
  height: 80px;
  top:0px;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 183, 255, 0.521);
  color:white;
}
.header ul{
  width: 70%;
  margin:0 auto;
}
.header .list1{
  list-style: none;
  float: left;
  width:25%;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid;
}
.header .list2{
  list-style: none;
  float: left;
  width:25%;
  text-align: center;
  cursor: pointer;
}
.header li p{
  border: none;
  color:white;
  cursor: pointer;
  transition: 0.3s;
}
.header li p:hover{
  color: rgb(0, 0, 0);
}
.middle-wrapper{
  min-height: 70vh;
}

.content{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

.content h1 {
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
  font-size: 50px;
  width:85%;
  max-width: 1000px;
  margin:0 auto;
}

.content h1:before {
  content: "";
  position: absolute;
  background: #9de5ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-55%);
  z-index: -1;
}

.clip-box-a {
  position: relative;
  margin: 2em auto;
  padding: 15px 35px 15px 25px;
  width: 90%; /* ボックス幅 */
  background-color: #fff; /* ボックス背景色 */
  color: #555555; /* 文章色 */
  border: 1px solid #ccc; /* 枠線 */
  box-shadow: 1px 1px 1px #acacac; /* 影の色 */
}
 .clip-box-a::before {
  position: absolute;
  content: '';
  top: -15px;
  right: 10px;
  height: 55px;
  width: 15px;
  border: 3px solid #555555; /*クリップ色 */
  background-color: none;
  border-radius: 12px;
  box-shadow: 1px 1px 2px #999;
  transform: rotate(10deg);
  z-index: 1;
 }
 .clip-box-a::after {
  position: absolute;
  content: '';
  top: 0px;
  width: 10px; 
  right: 20px;
  border: solid 5px #fff; /*背景色と同じ色にする*/
  z-index: 2;
 }
 .clip-box-a button{
  display: block;
  margin:0 auto;
  margin-top:20px;
  margin-bottom: 20px;
  max-width: 300px;
  width:80%;
  padding: 5px;
  border:none;
  background-color: rgba(0, 183, 255, 0.973);
  color: white;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.521);
  font-size: 18px;
  font-weight: 800;
  transition: 0.3s;
  border-radius: 30px;
  cursor: pointer;
}
.clip-box-a button:hover{
  background-color: white;
  color:rgba(0, 183, 255, 0.973);
}
.clip-box-a h3{
  text-align: center;
}
.clip-box-a .day{
  margin: 50px 0;
}

.form{
  width:80%;
  max-width: 500px;
  margin:0 auto;
}

.form input{
  width:100%;
  padding:5px;
  margin-bottom:30px;
}
.form textarea{
  width: 100%;
  height: 200px;
}

.form2{
  width:300px;
  max-width: 500px;
  margin:0 auto;
}

.form2 input{
  width:100%;
  padding:5px;
  margin-bottom:30px;
}

.content .sentence1{
  float: left;
  width: 48%;
}
.content .sentence2{
float: left;
width: 125px;
margin-left:5%;
}
.content .sentence2 h6{
  font-size: 16px;
}

.sentence-s{
  margin-top: 10px;
}

.content .image1{
  width:45%;
  margin-right:3%;
  max-width: 300px;
  float:right;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.521);
}

.content .image2{
width:60px;
float:left;
border-radius: 100px;
box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.521);
}

.footer{
  text-align: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 55, 107);
  color: white;
  padding: 40px 0;
}

.Form{
	padding:5px 0px;
	width:300px;
	border-style: none;
	background-color: #e1f1ff;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.pay-container{
  margin:0 auto;
  width: 300px;
}

.load-image{
  display: block;
  margin:0 auto;
  width: 100%;
  max-width: 300px;
}

/*ハンバーガー*/
.hamberger{
  display: none;
}
.hamberger-label {
  position: relative;
  margin-right: 10px;
  float: right;
  clear: both;
  z-index: 1000;
}
span {
  display: none;
  width: 35px;
  height: 25px;
}
span i {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(0, 26, 51);
  display: block;
  transition: all .3s ease-in-out;
}
span i:nth-child(1) {
  top: 0;
}
span i:nth-child(2) {
  margin: auto;
  top: 0;
  bottom: 0;
}
span i:nth-child(3) {
  bottom: 0;
}
input:checked + label span i:nth-child(1) {
  margin: auto;
  transform: rotate(45deg);
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}
input:checked + label span i:nth-child(2) {
  transform: rotateX(90deg);
  top: 0;
  bottom: 0;
}
input:checked + label span i:nth-child(3) {
  margin: auto;
  transform: rotate(-45deg);
  top: 0;
  right: 0;
  bottom: 0;
}
input:checked + label + .hamburger-list {
  position: fixed;
  z-index: 99;
  opacity: 1;
}
.hamburger-list {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.185);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out,z-index .3s ease-in-out;
}
.hamburger-list li{
  list-style: none;
  text-align: center;
  margin-bottom: 40px;
}
.hamburger-list__wrap {
  width: 90%;
  padding-top:100px;
  background-color: rgba(123, 218, 255, 0.87);
  position: absolute;
  right: -100%;
  top: 0;
  bottom:0;
  transition: right .3s ease-in-out;
}
input:checked + label + .hamburger-list > .hamburger-list__wrap {
  right: 0;
}

a {
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
  height: 80px;
  text-decoration: none;
  text-align: center;

}
a:hover{
color:rgb(0, 26, 51);
transition: .5s;
}

@media screen and (max-width:800px) {
  .header{
    padding:15px 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
  }
  .content{
    margin-top: 0px;
  }
  span {
    display: inline-block;
    width: 35px;
    height: 25px;
  }
  .top-logo{
    position:absolute;
    top:5%;
    left:1%;
    width: 50%;
  }
  .pc-menu{
    display: none;
  }
  .content h1{
    font-size: 30px;
  }
  .content .sentence1{
    width: 100%;
    float:none;
  }
  .content .image1{
    display: block;
    width:80%;
    margin:0 auto;
    margin-top: 50px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.521);
    float:none;
  }
  .clip-box-a {
    width: 100%; /* ボックス幅 */
  }
  .content{
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 500px;
  }
}

@media screen and (max-width:500px) {
  .top-img{
    display: none;
  }
  .top-img2{
    display: block;
  }
  .top-logo{
    display: none;
  }
  .top-logo2{
    display: block;
  }
}

